.grid-33
    .app--section
        ul.app--message--list
            if messages
                each convo,index in messages 
                    li
                        h3
                            | Conversation with #{index}
                        ul.app--message--conversation
                            each message in convo
                                if message.me
                                    li.app--message--me
                                        include message.pug
                                else
                                    li.app--message
                                        include message.pug
