doctype html
html
  head
    title Twitter Client
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Work+Sans:400,600")
    link(rel="stylesheet", href="/stylesheets/global.css")
  body
    include includes/header.pug
    block content
