doctype html
html
  head
    title Twitter Client
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Work+Sans:400,600")
    link(rel="stylesheet", href="/stylesheets/global.css")
    link
  body
    include includes/header.pug
    block content
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(src="/javascripts/tweet.js")
